body {
	font-family: 'Open sans', sans-serif;
	background-color: #fafafa;
}

a{
	text-decoration: none;
	color: #222222;
}

a:hover{
	text-decoration: underline;
}

.container {
	max-width: 1200px;
	margin:0 auto;
}


header{
	background-image: linear-gradient(to right,#a25b5b, #692e4c);
	padding: 1.5em 2em;
}





.header-top{
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	color: white;
	padding-bottom:  50px;
}



nav {
	display: flex;
	justify-content: center;
}

a{
	color:inherit;
}


nav > a {
	padding-right: 20px;
	padding-left: 20px;
	text-transform: uppercase;
	color:rgba(255, 255, 255, 0.5);

}

header h1 {
	margin-top: 0;
	color:white;
	font-size: 1.7em;
}